@model IEnumerable<Poshta.Models.sklad>
@{
    Layout = "~/Views/Shared/_LayoutMeneger.cshtml";
}
@{
    ViewBag.Title = "Склад";
}

<h2>Склад</h2>

<table class="table">
    <tr>
        <th>
            Назва
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id_p = item.id, id_s = ViewBag.id_s })
            </td>
        </tr>
    }

</table>
