@model IEnumerable<Poshta.Models.Zaput4>
@{
    Layout = "~/Views/Shared/_LayoutMeneger.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.client</h2>

<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Кількість
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.count
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/MENEGER/Zapit4Exel?phone=@ViewBag.clientP">Отримати Ексель файл</a>